* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5F9EA0;
    --secondary-color: #778899;
    --tertiary-color: #F0F8FF;
    --quaternary-color: #6495ED;
    --quinary-color: #000000;
}

body {
    font-family: playfair, raleway, quicksand, lato, open sans, serif;
    background-color: var(--primary-color);
}

/* hero style start */
.hero {
    background-image: url("../images/hero.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* hero style end */


/* header / nav bar style start */
header {
    padding: 20px 35px;
    background-color: #2F4F4F;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-position: 80%;
    z-index: 9999;   
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);

}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight:lighter;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

header li {
    border-bottom: 5px solid var(--secondary-color);
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--quaternary-color);
    border-radius: 10px;
    text-shadow: none;
}

/* header / nav bar style end */


.flex-row h2 {
    font-size: 25px;
    border-bottom: 5px solid var(--secondary-color);
    padding: 30px;
    text-align: center;
    width: 50%;
    margin: 0 auto 35px auto;
    color: var(--quinary-color);
}


/* about me style start */
.about {
    display: flex;
    line-height: 150%;
    padding: 10px 315px 20px;
    text size: 15px;
    color: var(--quinary-color);
}

/* about me style end */


/* work section */
.projects {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.project-info {
    padding: 25px;
}

.project h3, .project-1 h3{
    background: var(--secondary-color);
    text-align: center;
    text size: 25px;
}

.project p, .project-1 p {
    background: var(--secondary-color);
    text-align: center;
    text size: 15px;
}

.project-1 img {
    width: 800px;
    height: 400px;
    padding: 25px;
    opacity: 0.6;
}

.project img {
    width: 250px;
    height: 250px;
    padding: 25px;
    opacity: 0.6;
}

.project-1 img:hover, .project img:hover {
    opacity: 1.0;
}

/* work section end */



/* contact info & resume */

.personal {
    padding: 40px;
}

.personal p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text size: 15px;
    padding: 12px 16px; 
}

.personal a { 
    color: var(--quinary-color);        
    display: block;     
    position: relative;    
    z-index: 1;     
    padding: 1em;     
    margin: -1em; 
 }

.personal p a:hover {
    background: var(--tertiary-color);
    color: var(--quaternary-color);
    border-radius: 10px;
    text-shadow: none;
    font-weight: bold;
}

/* contact & resume style end */



/* FOOTER STYLES START */
footer {
    width: 100%;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;

}

footer h4 {
    font-size: 15px;
    margin: 0;
}

/* END FOOTER STYLES */





/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {   
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
     }
 
     header h1 {
        width: 100%;
        text-align: center;
     }
 
     header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
     }

     .hero {
        width: 100%;
     }

     .flex-row h2 {
        justify-content: center;
     }

    .about {
        justify-content: center;
        padding: 40px;
    }

    .projects {
        justify-content: center;
    }

    .personal {
        justify-content: center;
    }

    .project-1 img {
        width: 600px;
        height: 300px;         
     }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about, .personal p {
        text size: 11px;
    }

    .project-1 img {
        width: 370px;
        height: 185px;  
    }

    .project img {
        width: 215px;
        height: 215px;
    }

    .project h3, .project-1 h3{
        text size: 18px;
    }
    
    .project p, .project-1 p {
        text size: 10px;
    }

    .personal {
        padding: 20px;
    }
}

